{% extends 'base.html.twig' %}

{% block title %}Perfil{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('/css/header.css') }}" rel="stylesheet" />
    <link href="{{ asset('/css/profile.css') }}" rel="stylesheet" />
{% endblock %}
{% block body %}
    {% include 'header/index.html.twig' with {'mensaje': 'bar'} %}
    <section>
        <div class="top-section">
            <div class="profile-cover" style="background-image:url({{ asset('img/default.jpg') }})">
                <div class="profile-desc">
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
        <div class="bottom-section"></div>
    </section>
{% endblock %}
