<div class="profile-content">
    {% if getUrl == 0 %}
        {{ error }}
        <div class="container-post" style="min-height: 50px">
            {{ form_start(form, {'attr': {'id': 'post-register'}}) }}

            {{ form_end(form) }}
        </div>
    {% endif %}

    {{ include('post/index.html.twig', {p: post}) }}
</div>