{% block header %}
<header>
    <div>
        <nav>
            <ul>
                <li>Inicio</li>
                <li>Oferta Educativa
                    <ul>
                        <li><a>Tecnico en Soporte</a></li>
                        <li><a>Tecnico en Electronica</a></li>
                        <li><a>Tecnico en Contabilidad</a></li>
                    </ul>
                </li>
                <li>Ingreso
                    <ul>
                        <li><a>Nuevo Ingreso</a></li>
                        <li><a>Resultados</a></li>
                    </ul>
                </li>
                <li>Acerca de Cetis 18</li>
                <li>
                    <form action="">
                        <input class="textSearcher" type="text" name="" id="" placeholder="Buscar">
                        <input class="btnSearcher" type="submit" value="">
                    </form>
                </li>
            </ul>
        </nav>
    </div>
</header>
{% endblock %}