* {
    margin:0;
}

body {
    background: #edf2f6;
}


#section-group{
    margin-top: 100px ;
}

.wrapper{
    margin: 10px 30px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-areas: "mygroup mygroup groups groups groups groups groups";
    justify-items: center;
}

section .mygroup{
    grid-area: mygroup;
    //background-color: #1c1e23;
}
.mygroup a{
    text-decoration: none;
    color: black;
}

.mygroup h1{
    text-align: center;
}

.mygroup ol{
    list-style: none;
}

.mygroup ol li{
    text-align: center;
    background-color: #00bfad;
    padding: 5px;
    border-radius: 10px;
    margin-top: 15px;
}

section .groups{
    grid-area: groups;
    //background-color: #3b216a;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

.box-img{
    background: #3f4257;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    height: 100px;
}

.box-img h3{
    display: inline-block;
    margin: 20px auto;
}


.box{
    background-color: whitesmoke;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 270px;
    height: 290px;
    border-radius: 10px;
    border: 1px solid #1c1e23;
    text-align: center;
}

.box h4{
    margin-top: 10px;
}

.box h4, h5{
    text-align: left;
    margin-left: 10px;
}

.box a{
    display: inline-block;
    background-color: #00bfad;
    padding: 10px;
    font-size: 20px;
    text-decoration: none;
    color: white;
    border-radius: 15px;
    margin-top: 95px;
    width: 80%;
}

/* RESPONSIVO TABLET*/
@media only screen and (max-width: 900px) {
    .wrapper{
        margin: 10px 30px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2,auto);
        grid-template-areas: "mygroup"
        "groups";
        justify-items: center;
    }

    .mygroup ol{
        margin-right: 35px;
    }

    section .groups{
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }
}

/* RESPONSIVO MOVIL*/
@media only screen and (max-width: 780px) {
    .wrapper{
        margin: 10px 30px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2,auto);
        grid-template-areas: "mygroup"
                             "groups";
        justify-items: center;
    }

    .mygroup ol{
        margin-right: 35px;
    }

    section .groups{
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }
}
