* {
    margin:0;
}

body {
    background: #edf2f6;
}


#section-group{
    margin-top: 100px ;
}

.wrapper{
    margin: 10px 30px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-areas: "mygroup mygroup groups groups groups groups groups";
    justify-items: center;
}

section .mygroup{
    grid-area: mygroup;
    //background-color: #1c1e23;
}
.mygroup a{
    text-decoration: none;
    color: black;
}

.mygroup h1{
    text-align: center;
}

.mygroup ol{
    list-style: none;
}

.mygroup ol li{
    text-align: center;
    background-color: #00bfad;
    padding: 5px;
    border-radius: 10px;
    margin-top: 15px;
}

section .groups{
    grid-area: groups;
    //background-color: #3b216a;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

.box-img{
    background-color: #3f4257;
    height: 100px;
    background-position: center;
    background-size: cover;
    width: 100%;
}


.box-img h3{
    display: inline-block;
    margin: 20px auto;
}


.box{
    background-color: whitesmoke;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 270px;
    height: 200px;
    border-radius:5px;
    border:1px solid rgba(0,0,0,0.1);
    text-align: center;
}
.box:hover{
    -webkit-box-shadow: 0px 0px 6px 2px rgba(214,214,214,1);
    -moz-box-shadow: 0px 0px 6px 2px rgba(214,214,214,1);
    box-shadow: 0px 0px 6px 2px rgba(214,214,214,1);
}
.box h4{
    margin-top: 10px;
}

.box h4, h5{
    text-align: left;
    margin-left: 10px;
}



.mygroup button{
    margin-left: 35px;
    margin-bottom: 30px;
    border-radius: 5px;
    background-color: #6AE18C;
    border:0;
    height: 35px;
    font-weight: 600;
    color:white;
    cursor: pointer;
    width:80%;
}
.sendRequest , .cancelRequest{
    position: relative;
    width: 30px;
    height: 30px;
    border:0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.cancelRequest{
    background-image: url("../img/remove.png");
}
.sendRequest{
    background-image: url("../img/add.png");
}


/* RESPONSIVO TABLET*/
@media only screen and (max-width: 900px) {
    .wrapper{
        margin: 10px 30px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2,auto);
        grid-template-areas: "mygroup"
        "groups";
        justify-items: center;
    }

    .mygroup ol{
        margin-right: 35px;

    }

    section .groups{
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }

    .mygroup button{
        margin-left: 40px;
        margin-bottom: 30px;
        border-radius: 10px;
        background-color: #1d9cd1;
        height: 30px;
        width: 150px;
    }
}

@media only screen and (width: 768px) {

    .wrapper{
        margin: 10px 30px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2,auto);
        grid-template-areas: "mygroup"
        "groups";
        justify-items: center;
    }

    .mygroup ol{
        margin-right: 35px;
    }

    section .groups{
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }

    .mygroup button{
        margin-left: 40px;
        margin-bottom: 30px;
        border-radius: 10px;
        background-color: #1d9cd1;
        height: 30px;
        width: 150px;
    }
}

/* RESPONSIVO MOVIL*/
@media only screen and (max-width: 767px) {
    .wrapper{
        margin: 10px 30px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2,auto);
        grid-template-areas: "mygroup"
                             "groups";
        justify-items: center;
    }

    .mygroup ol{
        margin-right: 35px;
    }

    section .groups{
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }

    .mygroup button{
        margin-left: 15px;
        margin-bottom: 30px;
        border-radius: 10px;
        background-color: #1d9cd1;
        height: 25px ;
    }
}
