/* background:#EA375D; */
* {
    font-family: Arial;
}
header {
    position:fixed;
    z-index: 1;
    min-height: 100px;
    width: 100%;
}
header:before{
    content: '';
    position:fixed;
    top:0;
    width: 100%;
    min-height:30vh;


}
header > div{
    position:relative;
    width:60%;
    height: 70px;
    margin:0 auto;
}
nav > ul > li:nth-child(1), nav > ul > li:nth-child(2), nav > ul > li:nth-child(3) {
    position:relative;
    height:40px;
    top:15px;
    padding-left:10px;
    padding-right:10px;
    color:white;
    border-radius:100px;
    margin-right:20px;
    line-height: 40px;
    float:left;
    list-style-type:none;
    font-size:15px;

}

nav > ul > li > a {
    text-decoration: none;
    color:white;
}

nav > ul > li:last-child {
    position:relative;
    height:40px;
    top:15px;
    padding-left:10px;
    padding-right:10px;
    color:white;
    border-radius:100px;
    margin-right:20px;
    line-height: 40px;
    float:left;
    border:0;
    background-color: white;
    list-style-type:none;
    font-size:15px;
}

nav > ul > li:nth-child(1):hover, nav > ul > li:nth-child(2):hover, nav > ul > li:nth-child(3):hover{

    color:white;
    cursor:pointer;
    transition:0.2s;
}

nav > ul > li:last-child {
    color:white;
    height: 30px;
    top:12px;
    margin-left:10px;
    border-radius: 100px;
    border:1px rgba(0,0,0,0.1) solid;
    padding:7px;
    float:right;
}


nav > ul > li:nth-child(2) > ul > li a:hover{
    color:#F2F2F2;
}


.textSearcher {
    position: relative;
    width:200px;
    height: 16px;
    padding:1px;
    resize:none;
    border:0;
    outline: 0;
    bottom:7px;
    transition: 0.2s;
}

.btnSearcher {
    position: relative;
    width: 25px;
    height: 25px;
    background-image: url('../img/searcher.png');
    background-color:white;
    background-size: 80%;
    background-repeat: no-repeat;
    cursor:pointer;
    border-radius:5px;
    background-position: center;
    border:0px;
    top:-5px;
}
