
.container-post {
    position: relative;
    display: inline-block;
    min-height: 250px;
    width:490px;
    background-color:white;
    border-radius: 7px;
    margin-bottom:10px;
    box-sizing: border-box;
    padding:10px
}

.container-post-upper{
    position: relative;
    width: 100%;
    height: 60px;
    display: grid;
    grid-template-areas: 'upperLeft upperLeft upperLeft upperRight';
    margin-bottom: 5px;
}

.upper-post-left{
    position: relative;
    height: 60px;
    grid-area: upperLeft;
}

.photo-post-user {
    position:relative;
    width: 60px;
    height: 60px;
    float: left;
    margin-right: 10px;
}

.photo-p-user{
    position:relative;
    width: 60px;
    height: 60px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;
}

.name-post-user {
    position:relative;
    height: 60px;
    float: left;
}
.name-post-user {
    top: 15px;
    height: 35px;
}
.name-post-user > p:first-child {
    color:#5f5a63;
    font-size: 14px;
}

.name-post-user > p:last-child {
    color:#a69eb9;
    font-size: 12px;
}
.upper-post-right{
    position: relative;
    height: 60px;
    grid-area: upperRight;
}
.container-post-middle{
    position: relative;
    width: 100%;
    min-height:100px;
    color:#ada0bb;
    word-break: break-all;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom:1px #e7edf5 solid;
}
.container-post-bottom{
    position: relative;
    width: 100%;
    height: 50px;
    display: grid;
    grid-template-areas: 'cpb1 cpb2 cpb2 cpb2 cpb2 cpb3';
}
.container-post-bottom > div:first-child{
    grid-area: cpb1;
}

.heart-base-container {
    position: relative;
    height: 100%;
    float: left;
}
.heartCounter{
    position: relative;
    float: left;
    height: 100%;
    line-height: 50px;
    color:gray
}
.heart-base-container > img {
    position: relative;
    top:15px;
    margin-right: 10px;
    cursor: pointer;

}
.heart-user-like {
    position: relative;
    float: left;
    top:10px;
    height: 30px;
    width:30px;
    background-color:white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border:2px rgba(0,0,0,0.1) solid;
    border-radius:100px;
}

.userLike2,.userLike3 , .userLike4 ,  .userLike5{
    margin-left:-10px;
}
.container-post-bottom > div:nth-child(2){
    grid-area: cpb2;
}


.upper-post-right {
    padding:20px;
    box-sizing: border-box;

}

.upper-post-right  > li > img {
    position:relative;
    float: right;
    padding:10px;
    border-radius: 100px;
    cursor: pointer;
    top:-10px;
}
.upper-post-right > li{
    list-style: none;

}
.upper-post-right  > li >  img:hover {
    background-color:#F2F2F2;
    transition:0.2s;
}
.upper-post-right > li > ul {
    position: absolute;
    display:none;
    top:0px;
    right: 30px;
    padding:10px;
    border-radius: 4px;
    background-color:white;
    -webkit-box-shadow: 0px 0px 20px -8px rgba(0,0,0,0.50);
    -moz-box-shadow: 0px 0px 20px -8px rgba(0,0,0,0.50);
    box-shadow: 0px 0px 20px -8px rgba(0,0,0,0.50);

}
.upper-post-right  > li {
    width: 30px;
    float: right;
}
.upper-post-right > li:hover > ul{
    display: block;
}
.upper-post-right > li > ul{

    list-style: none;
}
.upper-post-right > li > ul > a > li{
    padding:10px;
    cursor: pointer;
    font-size:14px;
}
.upper-post-right > li > ul > a > li:hover {
    background-color:#F2F2F2;
}
/* RESPONSIVO TABLET*/
@media only screen and (max-width: 800px) {
    .container-post{
        display: grid;
        width: 780px;
    }

    .upper-post-left{
        display: flex;
        flex-direction: row;
    }
}

@media only screen and (width: 768px){

    .left-section{
        width: 350px;
    }
    .container-post{
        width: 750px;
    }

    img{
        width: 100%;
    }
}

/* RESPONSIVO MOVIL*/
@media only screen and (max-width: 767px) {
    .container-post{
        display: grid;
        width: 340px;
    }

    .upper-post-left{
        display: flex;
        flex-direction: row;
    }
}