* {
    margin:0;
}
header {
    transition: 0.2s;
}
body {
    background: #edf2f6;
}
section {
    position: relative;

    width:100%;
    min-height: 200px;
    margin:0px auto;
}

.top-section {
    position: relative;
    width: 100%;
    min-height:400px;
    margin-top:90px;
    margin-bottom: 10px;
}

.profile-cover {
    position: relative;
    width: 1000px;
    height:400px;
    margin:0 auto;
    border-radius: 7px;
    background:#ffffff;
}
.profile-img-cover {
    position: absolute;

    width: 100%;
    height: 320px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    border-top-left-radius: 7px;

    border-top-right-radius: 7px;
}
.profile-detail-section {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    background:white;
    border-bottom-left-radius: 7px;

    border-bottom-right-radius: 7px;

}
.profile-detail-section > nav {
    display: grid;
    grid-template-areas: 'li1 li2 li3 none none none none li4 li5 li6';
}
.profile-detail-section  > nav > li {
    list-style: none;
    text-align: center;
    line-height: 80px;
    color:#a69eb9;
}

.profile-detail-section  > nav > li:first-child{ grid-area: li1 }
.profile-detail-section  > nav > li:nth-child(2){ grid-area: li2 }
.profile-detail-section  > nav > li:nth-child(3){ grid-area: li3 }
.profile-detail-section  > nav > li:nth-child(6){ grid-area: li4 }
.profile-detail-section  > nav > li:nth-child(7){ grid-area: li5 }
.profile-detail-section  > nav > li:last-child{ grid-area: li6 }
.profile-desc {
    position: relative;
    width:300px;
    height: 220px;
    border-radius:5px;
    padding-top:10px;
    margin:0 auto;
    top:180px;
}

.profile-img{
    position:relative;
    width:140px;
    height:140px;
    margin:0 auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border:4px #FAFAFA solid;
    background-color:white;
    border-radius: 100px;

}

.profile-name {
    position:relative;
    width:240px;
    height:50px;
    margin:0 auto;
    text-align:center;
}


.profile-name > span{
    font-size:16px;
    color:#5f5a63;
    font-weight: 600;
    line-height: 40px;
}

.bottom-section {

}

.profile-content {
    position: relative;
    width: 1000px;
    min-height: 700px;
    margin:0 auto;

    column-count: 2;

}

.container-post {
    position: relative;
    display: inline-block;
    min-height: 250px;
    width:490px;
    background-color:white;
    border-radius: 7px;
    margin-bottom:10px;
    box-sizing: border-box;
    padding:10px
}

.container-post-upper{
    position: relative;
    width: 100%;
    height: 60px;
    display: grid;
    grid-template-areas: 'upperLeft upperLeft upperLeft upperRight';
    margin-bottom: 5px;
}

.upper-post-left{
    position: relative;
    height: 60px;
    grid-area: upperLeft;
}

.photo-post-user {
    position:relative;
    width: 60px;
    height: 60px;
    float: left;
    margin-right: 10px;
}

.photo-p-user{
    position:relative;
    width: 60px;
    height: 60px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;
}

.name-post-user {
    position:relative;
    height: 60px;
    float: left;
}
.name-post-user {
    top: 15px;
    height: 35px;
}
.name-post-user > p:first-child {
    color:#5f5a63;
    font-size: 14px;
}

.name-post-user > p:last-child {
    color:#a69eb9;
    font-size: 12px;
}
.upper-post-right{
    position: relative;
    height: 60px;
    grid-area: upperRight;
}
.container-post-middle{
    position: relative;
    width: 100%;
    min-height:100px;
    color:#ada0bb;
    word-break: break-all;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom:1px #e7edf5 solid;
}
.container-post-bottom{
    position: relative;
    width: 100%;
    height: 50px;
    display: grid;
    grid-template-areas: 'cpb1 cpb2 cpb2 cpb2 cpb2 cpb3';
}
.container-post-bottom > div:first-child{
    grid-area: cpb1;
}

.container-post-bottom > div:nth-child(2){
    grid-area: cpb2;
}

.container-post-bottom > div:last-child{
    grid-area: cpb3;
}

.upper-post-right {
    padding:20px;
    box-sizing: border-box;
}

.upper-post-right  > img {
    float: right;
    cursor: pointer;
}