* {
    margin:0;
}
header {
    transition: 0.2s;
}
section {
    position: relative;

    width:100%;
    min-height: 200px;
    margin:0px auto;
}

.top-section {
    position: relative;
    width: 100%;
    height:450px;

}

.profile-cover {
    position: relative;
    width: 100%;
    height:400px;
    background:linear-gradient(45deg, #ff0081, #6827b0);
    border-radius: 200px 200px 50% 50%/0% 0% 100% 100%;
}

.profile-desc {
    position: relative;
    width:300px;
    height: 260px;
    border-radius:5px;
    padding-top:10px;
    margin:0 auto;
    top:150px;
}

.profile-img{
    position:relative;
    width:140px;
    height:140px;
    margin:0 auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    border:2px #FAFAFA solid;
    background-color:white;
    border-radius: 100px;
    -webkit-box-shadow: 0px 0px 23px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 23px -8px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 23px -8px rgba(0,0,0,0.75);
}

.profile-name {
    position:relative;
    width:240px;
    height:50px;
    margin:0 auto;
    text-align:center;
}

.profile-name > span{
    font-size:20px;
    color: white;
    font-weight: 600;
    line-height: 40px;
}

.bottom-section {

}

.profile-content {
    position: relative;
    width: 800px;
    min-height: 700px;
    background-color:white;
    margin:0 auto;
    -webkit-box-shadow: 0px 0px 23px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 23px -8px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 23px -8px rgba(0,0,0,0.75);
}