{% extends 'base.html.twig' %}

{% block title %}Grupos{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('/css/header.css') }}" rel="stylesheet" />
    <link href="{{ asset('/css/profile.css') }}" rel="stylesheet" />
    <link href="{{ asset('/css/group.css') }}" rel="stylesheet" />
{% endblock %}
{% block body %}
    {% include 'header/index.html.twig'%}

    <section id="section-group">
            <div class="wrapper">
               <section class="mygroup">
                   <h1>Mis grupos.</h1>
                    <ol>
                        <li>
                            <a href="#">
                                #208 Matematicas.
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Sistemas Calculo.
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Matematicas.
                            </a>
                        </li>
                    </ol>
               </section>
                <section class="groups">
                    <div class="box">
                        <div class="box-img">
                            <h3>Grupo 1</h3>
                        </div>
                        <h4>Angelo Gutierrez Moreno</h4>
                        <h5>Matematicas</h5>
                        <a href="#">Ingresa.</a>
                    </div>
                    <div class="box">
                        <div class="box-img">
                            <h3>Grupo 2</h3>
                        </div>
                        <h4>Angelo Gutierrez Moreno</h4>
                        <h5>Matematicas</h5>
                        <a href="#">Ingresa.</a>
                    </div>
                    <div class="box">
                        <div class="box-img">
                            <h3>Grupo 3</h3>
                        </div>
                        <h4>Angelo Gutierrez Moreno</h4>
                        <h5>Matematicas</h5>
                        <a href="#">Ingresa.</a>
                    </div>
                    <div class="box">
                        <div class="box-img">
                            <h3>Grupo 4</h3>
                        </div>
                        <h4>Angelo Gutierrez Moreno</h4>
                        <h5>Matematicas</h5>
                        <a href="#">Ingresa.</a>
                    </div>
                    <div class="box">
                        <div class="box-img">
                            <h3>Grupo 5</h3>
                        </div>
                        <h4>Angelo Gutierrez Moreno</h4>
                        <h5>Matematicas</h5>
                        <a href="#">Ingresa.</a>
                    </div>

                </section>
            </div>
    </section>
{% endblock %}